<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="maximum-scale=1.0,minimum-scale=1.0,user-scalable=0,width=device-width,initial-scale=1.0"/>
	<meta name="format-detection" content="telephone=no,email=no,date=no,address=no">
	<title>登录</title>
	<link rel="icon" href="data:image/ico;base64,aWNv">
	<link rel="stylesheet" type="text/css" href="/static/css/aui.css" />

    <style type="text/css">
        body{
            background-color: #f7f8fa;
        }
        .item{
            padding: 10px;
            border-bottom: 1px solid #ddd;
            background-color: #fff;
        }
        .item p{
            font-size: 14px;
        }
        .box{
            padding: 10px;
            background-color: #fff;
        }
        .rg{display: block;}
        @media (max-width: 768px) { 
                .rg{
                    display: none;
                }
        }
    </style>
</head>
<body>
    <header class="aui-bar aui-bar-nav">
        <a class="aui-pull-left aui-btn">
            <span class="aui-iconfont aui-icon-left"></span>
        </a>
        <div class="aui-title">详情</div>
    </header>
    <section class="aui-content">
        <div class="aui-info aui-margin-t-10 aui-padded-l-10 aui-padded-r-10">
            <div class="aui-info-item">
                <img src="/static/image/demo2.png" style="width:1.5rem" class="" /><span class="aui-margin-l-5"><h3 style="color: #333;font-weight: 900">AUI</h3></span>
                </div>
            <div class="aui-info-item">2015-07-13 22:31</div>
        </div>
    </section>
    <section class="aui-content">
        <div class="item">
            <div class="by">
                <h2>极力推崇读书的人为什么不把时间都用来读书？</h2>
                <p>难道他们可自由支配时间足够长以至于上知乎的时间可以忽略不计？ ---------------------------------------------------------------------------------------------- 各位上知乎都是在什么时间？每天平均上多久？如果是工作时间用所谓碎片时间来上知乎是否是一种影响工作产出的行为？如果是下班以后，假设每天有且只有两小时属于自己的整块时间，你会怎样分配？会读书还是上知乎？ 综上，在上知乎的时间里，如果做其他的事（上班时认真工作、下班时读完整的书而不是信息碎片或所谓干货），是否长远收益更大？</p>
                <p>
                    <img src="/static/image/IMG_1222.JPG" style="max-width: 100%;margin:20px auto 0 ">
                </p>
            </div>
            <div class="foot" style="text-align: right;">
                <!-- <p><div class="aui-btn aui-btn-info">评论 20</div></p> -->
                <div class="aui-info aui-font-size-12 aui-padded-t-0 aui-padded-b-0">
                    <div class="aui-info-item"></div>
                    <div class="aui-info-item" style="">
                        <i class="aui-iconfont aui-icon-comment aui-padded-r-5 comment" style="color:#00bcd4;font-size: 1.4rem;"><font style="font-size: 15px;">10</font></i>
                        <i class="aui-iconfont aui-icon-like" style="color:#e91e63;font-size: 1.4rem"><font style="font-size: 15px;">100</font></i>
                    </div>
                </div>
            </div>
        </div>
            <!-- 发表评论 -->
            <div class="aui-card-list comment_content" style="background: #f2f3f4;border: 1px solid #E7E9EA;border-radius:2px;margin: 0px 20px;display: none;">
                <form role="form" action="" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="aui-card-list-header">
                            
                            
                            <input type="file" name="image" onchange="imgPreview(this)" />
                    </div>
                    
                    <div class="aui-card-list-content-padded">
                        <img id="preview" /><br/>
                        <textarea id="content" placeholder="评论..." name="content" onblur="return cheack_title()"></textarea>
                        </span><span id="erroretitle" style="display:none;color:red;">评论不能为空！</span>
                    </div>
                    <div class="aui-card-list-footer">
                          <button type="submit" type="button" class="aui-btn aui-btn-primary">发表</button>
                    </div>
                </from>
            </div>
    </section>
    <!-- 评论内容 -->
    <section class="aui-content-padded">
        <div class="aui-card-list" style="background: #f0f0f0;padding: 0;">
            <div class="aui-card-list-header" style="padding: 0;">
                <div class="aui-info aui-margin-t-10 aui-padded-l-10 aui-padded-r-10">
                    <div class="aui-info-item">
                        <img src="/static/image/demo2.png" style="width:1.5rem" class="" /><span class="aui-margin-l-5"><h3 style="color: #333;font-weight: 900">AUI</h3></span>
                        </div>
                    <div class="aui-info-item">2015-07-13 22:31</div>
                </div>
            </div>
            <div class="aui-card-list-content-padded">
                <div>内容区域，卡片列表布局样式可以实现APP中常见的各类样式</div>

                <div class="footer">
                    <div class="aui-info aui-font-size-12 aui-padded-t-0 aui-padded-b-0">
                        <div class="aui-info-item"></div>
                        <div class="aui-info-item">
                            <i class="aui-iconfont aui-icon-comment aui-padded-r-5 comment2" style="color:#00bcd4;font-size: 1.4rem;"><font style="font-size: 15px;">10</font></i>
                        </div>
                    </div>
                </div>
            </div>
        <!-- 发表评论 -->
            <div class="aui-card-list comment_content2" style="background: #f2f3f4;border: 1px solid #E7E9EA;border-radius:2px;margin: 0px 20px;display: none;">
                <form role="form" action="" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="aui-card-list-header">
                            
                            
                            <input type="file" name="image" onchange="imgPreview(this)" />
                    </div>
                    
                    <div class="aui-card-list-content-padded">
                        <img id="preview" /><br/>
                        <textarea id="content" placeholder="评论..." name="content" onblur="return cheack_title()"></textarea>
                        </span><span id="erroretitle" style="display:none;color:red;">评论不能为空！</span>
                    </div>
                    <div class="aui-card-list-footer">
                          <button type="submit" type="button" class="aui-btn aui-btn-primary">发表</button>
                    </div>
                </from>
            </div>
        </div>
        <div class="aui-card-list" style="background: #f0f0f0;padding: 0;">
            <div class="aui-card-list-header" style="padding: 0;">
                <div class="aui-info aui-margin-t-10 aui-padded-l-10 aui-padded-r-10">
                    <div class="aui-info-item">
                        <img src="/static/image/demo2.png" style="width:1.5rem" class="" /><span class="aui-margin-l-5"><h3 style="color: #333;font-weight: 900">AUI</h3></span>
                        </div>
                    <div class="aui-info-item">2015-07-13 22:31</div>
                </div>
            </div>
            <div class="aui-card-list-content-padded">
                <div>内容区域，卡片列表布局样式可以实现APP中常见的各类样式</div>

                <div class="footer">
                    <div class="aui-info aui-font-size-12 aui-padded-t-0 aui-padded-b-0">
                        <div class="aui-info-item"></div>
                        <div class="aui-info-item">
                            <i class="aui-iconfont aui-icon-comment aui-padded-r-5 comment2" style="color:#00bcd4;font-size: 1.4rem;"><font style="font-size: 15px;">10</font></i>
                        </div>
                    </div>
                </div>
            </div>
        <!-- 发表评论 -->
            <div class="aui-card-list comment_content2" style="background: #f2f3f4;border: 1px solid #E7E9EA;border-radius:2px;margin: 0px 20px;display: none;">
                <form role="form" action="" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="aui-card-list-header">
                            
                            
                            <input type="file" name="image" onchange="imgPreview(this)" />
                    </div>
                    
                    <div class="aui-card-list-content-padded">
                        <img id="preview" /><br/>
                        <textarea id="content" placeholder="评论..." name="content" onblur="return cheack_title()"></textarea>
                        </span><span id="erroretitle" style="display:none;color:red;">评论不能为空！</span>
                    </div>
                    <div class="aui-card-list-footer">
                          <button type="submit" type="button" class="aui-btn aui-btn-primary">发表</button>
                    </div>
                </from>
            </div>
        </div>
    </section>


    <script type="text/javascript" src="/static/js/api.js"></script>
    <script type="text/javascript" src="/static/js/jquery-2.1.1.min.js"></script>
    <script type="text/javascript">
        apiready = function(){
            if(api.systemType == 'ios'){
                scaleEnabled = true;
                document.getElementById('wrap').style.paddingTop = '12px';
            }
            };
    </script>
    <script type="text/javascript">
        $(document).ready(function(){
            $(".comment").click(function(){
                $(".comment_content").toggle();
            });
            $(".comment2").click(function(){
                $(".comment_content2").toggle();
            });

            $("#content").blur(function(){
                var value = $(this).val();
                value = $.trim(value);
                if(value == ''){
                    $("#erroretitle").show();
                    return false;
                }
                else{
                    $("#erroretitle").hide();
                }
            });
        });
    </script>
</body>
</html>