<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="maximum-scale=1.0,minimum-scale=1.0,user-scalable=0,width=device-width,initial-scale=1.0"/>
	<meta name="format-detection" content="telephone=no,email=no,date=no,address=no">
	<title>主页</title>
	<link rel="icon" href="data:image/ico;base64,aWNv">
	<link rel="stylesheet" type="text/css" href="/static/css/aui.css" />
	<link rel="stylesheet" type="text/css" href="/static/css/aui-slide.css" />
	<style type="text/css">
    body {
        background: #ffffff;
    }
    .bg-dark {
        background: #333333 !important;
    }
    .aui-slide-node img {
        width: auto;
        height: 100%;
    }
    </style>
</head>
<body>
    <div class="content">
        
    </div>


    <footer class="aui-bar aui-bar-tab" id="footer" style="background-color: #27AE60">
        <div class="aui-bar-tab-item aui-active" id="index" tapmode>
            <i class="aui-iconfont aui-icon-home"></i>
            <div class="aui-bar-tab-label"><a href="" style="color: #000">首页</a></div>
        </div>
        <div class="aui-bar-tab-item" tapmode>
            <i class="aui-iconfont aui-icon-calendar"></i>
            <div class="aui-bar-tab-label"><a href="{% url 'mycampus:learn' %}" style="color: #000">学习</a></div>
        </div>
        <div class="aui-bar-tab-item" tapmode>
            <i class="aui-iconfont aui-icon-plus"></i>
            <div class="aui-bar-tab-label"><a href="{% url 'mycampus:published' %}" style="color: #000">发表</a></div>
        </div>
        <div class="aui-bar-tab-item" tapmode>
            <i class="aui-iconfont aui-icon-like"></i>
            <div class="aui-bar-tab-label"><a href="{% url 'mycampus:love' %}" style="color: #000">love</a></div>
        </div>
        <div class="aui-bar-tab-item" tapmode>
            <div class="aui-dot"></div>
            <i class="aui-iconfont aui-icon-my"></i>
            <div class="aui-bar-tab-label"><a href="{% url 'mycampus:member' %}" style="color: #000">我的</a></div>
        </div>
    </footer>

    <script type="text/javascript" src="/static/js/api.js"></script>
    <script type="text/javascript" src="/static/js/aui-slide.js"></script>
    <script type="text/javascript" src="/static/js/jquery-2.1.1.min.js"></script>
<!--     <script type="text/javascript">
    apiready = function(){
        if(api.systemType == 'ios'){
            scaleEnabled = true;
            document.getElementById('wrap').style.paddingTop = '12px';
        }
        };
    </script> -->
    <script type="text/javascript">  
    $(document).ready(function() {
       
          $("#myID").load("{% url 'mycampus:learn' %}", function(){
            $("#myID").fadeIn('slow');}
          );
        
    });
    </script>
    <script type="text/javascript">
        var slide = new auiSlide({
            container:document.getElementById("aui-slide"),
            // "width":300,
            "height":260,
            "speed":300,
            "pageShow":true,
            "pageStyle":'dot',
            "loop":true,
            'dotPosition':'center',
            currentPage:currentFun
        })

        function currentFun(index) {
            console.log(index);
        }
    </script>

</body>
</html>