<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="maximum-scale=1.0,minimum-scale=1.0,user-scalable=0,width=device-width,initial-scale=1.0"/>
    <meta name="format-detection" content="telephone=no,email=no,date=no,address=no">
    <title>主页</title>
    <link rel="icon" href="data:image/ico;base64,aWNv">
    <link rel="stylesheet" type="text/css" href="/static/css/aui.css" />
    <link rel="stylesheet" type="text/css" href="/static/css/aui-slide.css" />
    <link rel="stylesheet" type="text/css" href="/static/css/aui-pull-refresh.css" />
    <style type="text/css">
    body {
        background: #ffffff;
    }
    .bg-dark {
        background: #333333 !important;
    }
    .aui-slide-node img {
        width: auto;
        height: 100%;
    }
    </style>
</head>
<body>
<!-- 头部 -->
    <header class="aui-bar aui-bar-nav" id="wrap" style="background-color: #27AE60;padding-top:12px; ">
        <a class="aui-pull-left">
        {% if user.userPicture %}
            <img src="/static/{{user.userPicture}}" class="aui-img-round" style="width:32px;height: 32px;" />
        {% else %}
            <img src="/static/user_img/default.jpg" class="aui-img-round" style="width:1.5rem;padding-top: 8px;" />
        {% endif %}
        </a>
        <div class="aui-title">首页</div>
    </header>
    <div class="aui-content aui-flex-center">
        <div class="aui-searchbar" id="search">
            <div class="aui-searchbar-input aui-border-radius" tapmode onclick="doSearch()">
                <i class="aui-iconfont aui-icon-search"></i>
                <form action="javascript:search();">
                    <input type="search" placeholder="请输入搜索内容" id="search-input">
                </form>
            </div>
        </div>
    </div>
    <!-- 轮播图 -->
    <section class="aui-content">
        <div id="aui-slide" style="position: relative; height: 260px;">
            <div class="aui-slide-wrap">
                <div class="aui-slide-node bg-dark" style="transform: translate3d(-1532px, 0px, 0px); transition-duration: 0ms;">
                    <img src="/static/image/IMG_1222.JPG">
                </div>
                <div class="aui-slide-node bg-dark" style="transform: translate3d(-1902px, 0px, 0px); transition-duration: 0ms;">
                    <img src="/static/image/l3.png">
                </div>
                <div class="aui-slide-node aui-slide-node-middle aui-slide-node-center" style="transform: translate3d(1532px, 0px, 0px); transition-duration: 300ms;">
                    <div class="aui-content-padded">
                        <span class="aui-text-danger">AUI Slide</span> 轮播组件不只局限于放置图片，可以自定义内容，分页样式有圆点(dot)，线条(line),结合AUI Flex来实现图片及内容的水平、垂直居中
                    </div>
                </div>
                <div class="aui-slide-node aui-bg-warning aui-slide-node-middle aui-slide-node-center" style="transform: translate3d(-1532px, 0px, 0px); transition-duration: 0ms;">
                    <div class="aui-content-padded">
                        <span class="aui-text-danger">AUI Slide</span>提供了常用的配置属性，可以自定义宽度，高度，自动播放，分页器样式等，支持无缝循环轮播
                    </div>
                </div>
                <div class="aui-slide-node bg-dark" style="transform: translate3d(-1532px, 0px, 0px); transition-duration: 0ms;">
                    <img src="/static/image/l1.png">
                </div>
            </div>
            <div class="aui-slide-page-wrap" style="text-align: center;"><span class="aui-slide-page aui-slide-page-dot aui-slide-page-active"></span><span class="aui-slide-page aui-slide-page-dot"></span><span class="aui-slide-page aui-slide-page-dot"></span><span class="aui-slide-page aui-slide-page-dot"></span><span class="aui-slide-page aui-slide-page-dot"></span><span class="aui-slide-page aui-slide-page-dot"></span></div>
        </div>
    </section>

    <section class="aui-refresh-content">
        <div class="aui-content">
            <div id="demo">
                <li class="aui-list-item">
                    <div class="aui-media-list-item-inner">
                        <div class="aui-list-item-inner">
                            <div class="aui-list-item-text">
                                <div class="aui-list-item-title aui-font-size-18">卡片布局头部区域{{new.title}}</div>
                            </div>
                            <div class="aui-info aui-padded-b-0">
                                <div class="aui-info-item aui-font-size-12">
                                <span class="aui-margin-l-5">内容{{new.publisher}}</span>
                                </div>
                                <div class="aui-info-item aui-font-size-12">2017232{{new.time|date:"Y-m-d H:i" }}</div>
                                <div class="aui-info-item aui-font-size-12">26条评论</div>
                            </div>
                        </div>
                            <div class="aui-list-item-media">
                            <img src="/static/{{ new.images }}">
                            </div>
                    </div>
                </li>
                <li class="aui-list-item">
                    <div class="aui-media-list-item-inner">
                        <div class="aui-list-item-inner">
                            <div class="aui-list-item-text">
                                <div class="aui-list-item-title aui-font-size-18">卡片布局头部区域{{new.title}}</div>
                            </div>
                            <div class="aui-info aui-padded-b-0">
                                <div class="aui-info-item aui-font-size-12">
                                <span class="aui-margin-l-5">内容{{new.publisher}}</span>
                                </div>
                                <div class="aui-info-item aui-font-size-12">2017232{{new.time|date:"Y-m-d H:i" }}</div>
                                <div class="aui-info-item aui-font-size-12">26条评论</div>
                            </div>
                        </div>
                            <div class="aui-list-item-media">
                            <img src="/static/{{ new.images }}">
                            </div>
                    </div>
                </li>
            </div>
        </div>
    </section>
    <!-- 图文内容 列表-->
  



    <footer class="aui-bar aui-bar-tab" id="footer" style="background-color: #27AE60">
        <div class="aui-bar-tab-item aui-active" tapmode>
            <i class="aui-iconfont aui-icon-home"></i>
            <div class="aui-bar-tab-label"><a href="" style="color: #000">首页</a></div>
        </div>
        <div class="aui-bar-tab-item" tapmode>
            <i class="aui-iconfont aui-icon-calendar"></i>
            <div class="aui-bar-tab-label"><a href="{% url 'mycampus:learn' %}" style="color: #000">学习</a></div>
        </div>
        <div class="aui-bar-tab-item" tapmode>
            <i class="aui-iconfont aui-icon-plus"></i>
            <div class="aui-bar-tab-label"><a href="{% url 'mycampus:published' %}" style="color: #000">发表</a></div>
        </div>
        <div class="aui-bar-tab-item" tapmode>
            <i class="aui-iconfont aui-icon-like"></i>
            <div class="aui-bar-tab-label"><a href="{% url 'mycampus:love' %}" style="color: #000">love</a></div>
        </div>
        <div class="aui-bar-tab-item" tapmode>
            <div class="aui-dot"></div>
            <i class="aui-iconfont aui-icon-my"></i>
            <div class="aui-bar-tab-label"><a href="{% url 'mycampus:member' %}" style="color: #000">我的</a></div>
        </div>
    </footer>
    <script type="text/javascript" src="/static/js/jquery-2.1.1.min.js"></script>
    <script type="text/javascript" src="/static/js/api.js"></script>
    <script type="text/javascript" src="/static/js/aui-slide.js"></script>
    <script src="/static/js/aui-pull-refresh.js"></script>
    <script type="text/javascript">
    apiready = function(){
        if(api.systemType == 'ios'){
            scaleEnabled = true;
            document.getElementById('wrap').style.paddingTop = '12px';
        }
        };
    </script>
    <script type="text/javascript">
        var slide = new auiSlide({
            container:document.getElementById("aui-slide"),
            // "width":300,
            "height":260,
            "speed":300,
            "pageShow":true,
            "pageStyle":'dot',
            "loop":true,
            'dotPosition':'center',
            currentPage:currentFun
        })

        function currentFun(index) {
            console.log(index);
        }
    </script>
    <script type="text/javascript">
        var count=0;
        var pullRefresh = new auiPullToRefresh({
            container: document.querySelector('.aui-refresh-content'),
            triggerDistance: 100
        },function(ret){
            if(ret.status=="success"){
                setTimeout(function(){
                    var j=0;
                    var urls = 'mycampus:content';
                    $.getJSON("{% url 'mycampus:index2' %}",{'a':count},function(item){
                        //返回值 ret 在这里是一个列表
                        // 把 ret 的每一项显示在网页上
                        var wrap = document.getElementById("demo")
                        // var lis = wrap.querySelectorAll('.aui-card-list');
                        for (var i = 0, length = 4; i < length; i++,j++) {
                        // for(var j = ret.length-1;j>=0;j--){
                            // $('#list_result').append(' ' + )
                            // var html = '<div class="aui-card-list">'+
                            //     '<div class="aui-card-list-header">'+
                            //         '查询结果：'+item[j][0]+item[j][1]+''+
                            //     '</div>'+'<img src="/static/'+item[j][4]+'" class="aui-img-round" style="width:32px;height: 32px;" />'+
                            //     '<div class="aui-card-list-content-padded">'+
                            //         item[j][2]+
                            //     '</div>'+
                            //     '<div class="aui-card-list-footer">'+
                            //         '底部区域'+
                            //     '</div>'+
                            // '</div>';
                            // wrap.insertAdjacentHTML('afterbegin', html);
                            
                            var html ='<a href="'+'{'+'% url '+urls+' '+item[j][0]+' %+}'+'" class="aui-card-list">'
                                        +'<li class="aui-list-item" style="padding-bottom: 50px;">'
                                            +'<div class="aui-media-list-item-inner">'
                                                +'<div class="aui-list-item-inner">'
                                                    +'<div class="aui-list-item-text">'
                                                        +'<div class="aui-list-item-title aui-font-size-18">'+item[j][2]+'</div>'
                                                    +'</div>'
                                                    +'<div class="aui-info aui-padded-b-0">'
                                                        +'<div class="aui-info-item aui-font-size-12">'
                                                            +'<span class="aui-margin-l-5">'+item[j][1]+'</span>'
                                                        +'</div>'
                                                        +'<div class="aui-info-item aui-font-size-12"></div>'
                                                        +'<div class="aui-info-item aui-font-size-12">26条评论</div>'
                                                    +'</div>'
                                                +'</div>'
                                                +'<div class="aui-list-item-media">'
                                                    +'<img src="/static/'+item[j][4]+'">'
                                                +'</div>'
                                            +'</div>'
                                        +'</li>'
                                    +'</a>';
                            wrap.insertAdjacentHTML('afterbegin', html);
                        }
                        count =count+j;
                        // }
                        
                    })
                    pullRefresh.cancelLoading(); //刷新成功后调用此方法隐藏
                },1500)
            }
        })
    </script>

</body>
</html>