<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="maximum-scale=1.0,minimum-scale=1.0,user-scalable=0,width=device-width,initial-scale=1.0"/>
  <meta name="format-detection" content="telephone=no,email=no,date=no,address=no">
  <title>登录</title>
  <link rel="icon" href="data:image/ico;base64,aWNv">
  <link rel="stylesheet" type="text/css" href="/static/css/aui.css" />
</head>
<body>
<!-- 头部 -->
  <header class="aui-bar aui-bar-nav" id="header" style="background-color: #00bcd4;padding-top: 10px;">
      <a class="aui-pull-left aui-btn" href="{% url 'mycampus:login' %}">
          <span class="aui-iconfont aui-icon-left"></span>
      </a>
      <div class="aui-title">重置密码</div>
  </header>
  <div id="header-bottom"></div>
    <section class="aui-content-padded">
          <div class="aui-content">
              <div class="aui-content aui-margin-b-15">
              <ul class="aui-list aui-form-list">
              <form class="m-t" role="form" action="{% url 'mycampus:rePasswordSubmit' %}"  method="post">
              {% csrf_token %}
                  <li class="aui-list-item">
                        <div class="aui-list-item-inner">
                            <div class="aui-list-item-label">
                                密码
                            </div>
                            <div class="aui-list-item-input">
                                <input type="password" class="form-control" placeholder="请输入新的密码" required="required" name="password">
                            </div>
                        </div>
                    </li>
                    <li class="aui-list-item">
                        <div class="aui-list-item-inner">
                            <div class="aui-list-item-label">
                                确认密码
                            </div>
                            <div class="aui-list-item-input">
                                <input type="text" class="form-control" placeholder="请重复输入新的密码" required="required" name="repassword">
                            </div>
                        </div>
                    </li>
                  <button type="submit" class="btn btn-primary block full-width m-b" style="background-color: #00bcd4 !important;">重置密码</button>
                </form>
                  <li>
                    <div><span id="result"></span></div>
                  </li>
              </ul>
          </div>
          </div><!-- endcontent -->
  </section>
  <script src="/static/js/jquery-2.1.1.min.js"></script>
  <script type="text/javascript" src="/static/js/api.js"></script>
  <script type="text/javascript">
      apiready = function(){
            if(api.systemType == 'ios'){
                scaleEnabled = true;
                // document.getElementById('header').style.paddingTop = '10px';
            }
                //支持沉浸式效果
            if (!api.statusBarAppearance) {
               document.getElementById('header').style.paddingTop = '0px';
            }
          };
  </script>
</body>
</html>